.content-img-top-cf{
    width: 100% !important;
    height: 100%;
    position: absolute;
}

.img-top-cf{
    width: 100% !important;
    height: 100%;
}
.content-text-banner-cf{
    /* padding: 8% 20%; */
    padding-top:  15%;
    height: auto;
    width: 70%;
    padding-left: 40%;
}

.content-video-module2-cf{
    position: absolute;
    border-radius: 30px;
    width: 45%;
    height: 50%;
    float: left;
    left:  0;
    /* top: 0; */
    margin-left: 28%;
    margin-top: 5%;
    box-shadow: 0px 14px 46px -10px rgba(0, 0, 0, 0.3);
}

.box-placeholder{
    position: absolute;
    width: 320px;
    height: 300px;
    float: left;
    display: block;
    left:  0;
    /* top: 0; */
    margin-left: 28%;
    margin-top: 5%;
    box-shadow: 0px 14px 46px -10px rgba(0, 0, 0, 0.3);
}

.logo-size{
    width:15%; 
    height:15%;
}

.content-li-info-data-cf{
    text-decoration: none !important;
    width: 60%;
    height: 100%;
    padding-top: 5%;
    font-family: sans-serif;
    display: block;
    
    margin-left:22%;
   
}
.content-li-info-data-sm-cf{
    text-decoration: none !important;
    width: 20%;
    height: 100%;
    padding-top: 5%;
    font-family: sans-serif;
    display: block;
    float: left;
    margin-left:22%;
   
}

