.img-file-icon {
    width: 100px;
}

.img-align-icon {
    text-align: center;
}
.text-header-text-color{
    color: black !important;
}
.text-header-text-content{
    padding-top: 11px;
}
.btn-add-file-content{
    float: right;
}
.btn-add-file{
    background-color: #22b9ff;
    color: #fff;
    border-radius: 26px;
    width: 50px;
    height: 50px;
    border-color: #22b9ff;
    text-align: center;
    padding: 0px !important;
}
.font-add-more{
    font-style: unset;
}
