.titulo-maior-cabecalho{
    padding: 10px;
    font-weight: bold;
    //font-size:large;
    display: flex;
    padding-top: 30px;
}
.center-icon{
    text-align: center;
}
.btn-menu-cad{
    margin:5px;
    width: 100%;
}
.circ-button{
    padding-top: 17px;
    cursor: pointer;
    color:#fff;
    position: absolute;
    right: 2%;
    text-align: center;
    width:50px;
    height: 50px;
    border-radius: 50% !important;
}
.agrupamento-drop:hover .menu-button-circ{
    display: block;
}
.menu-button-circ{
    cursor:pointer;
    padding: 15px;
    display:none;
    position: absolute;
    right: 5%;
    text-align: center;
    //width:200px; 
    border-radius: 20px;
    font-size: smaller;
    color: #fff;
    
}
.click{
    cursor:pointer;
}
.agrupamento-drop{
    
}
.agrupamento-inputs{
    display:flex;
}
.espacamento-inputs-menu{
    display: flex;
    padding: 15px;
    padding-top: 0px;
}
.afastaai{
    padding-left: 45px;
}
.button-left{
    margin-left: 30px;
    cursor: pointer;
    color:#fff;
    width: 70px;
    font-weight: bold;
    padding: 0.65rem;
    text-align: center;
    border-radius: 20px;
}
.button-right{
    margin-right: 50px;
    position: absolute;
    right: 0;
}
.pagination{
    .left, .right{
        color: #716aca;
        background: #edecf8;
    }
    .indice:hover{
        color: #716aca;
        background: #edecf8;
    }
    .indice:focus{
        background: #716aca;
        color: #ffffff;
    }
    .indice, .indice-s{
        cursor: pointer;
        display: inline-block;
        height: 2.25rem;
        width: 2.25rem;
        vertical-align: middle;
        padding: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        position: relative;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
    }
}
.sem-bottom{
    margin-bottom: -70px;
}
.titulo-alinhado{
    padding-left: 30px;
}
.texto-lado-com-input{
    display:flex;
}
.titulo-com-input{
    margin:8px;
    font-weight: 400;
    font-size: 1rem;
}
.verder{
    color:green;
    font-weight: bold;
}
.duvida{
    color:orange;
    font-weight: bold;
}