.content-header-duvidas{
    width: 100%;
    height: 700px;
    margin:  0;
    padding:  0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 101% 1100px;
}
.content-duvidas{
    z-index:  111111;
    padding: 100px 0 0 16%;
    width: 68%;
    cursor: pointer !important;
}

.content-pergunta-duvidas{
    padding: 30px 0px 20px 0px;
    z-index:  11111111;
    cursor:  pointer;
    width: 100%;
    border-bottom:  1px solid #383838;
    cursor: pointer !important;
    line-height: 60px !important;
}
.content-pergunta-duvidas:hover{
    color: #7d1daf;
    cursor: pointer !important;

}
.content-resposta-duvida{
    padding: 20px 0px;
    width: 100%;
    text-align: justify;
    line-height: 40px;
}
.grey-text-duvidas{
    color: #989898;
}
.hr-style{
    border: 1px solid #989898;
    width: 1200px;
    margin-top: 50px;
}
.content-text-header-duvidas{
    margin-top: 100px;
}
.seta-baixo:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    float: right;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #383838;
    margin-top: 30px;
}
.seta-baixo-green:before{
    border-top: 20px solid #7d1daf !important;

}
.seta-cima-green:before{
    border-bottom: 20px solid #7d1daf !important;

}
.seta-cima:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    float: right;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #383838;
    margin-top: 30px;

}
.input-duvidas{
    border: 0px solid;
    border-bottom: 1px solid white;
    width: 1000px;
    margin-top: 100px;
    text-align: center;background: transparent;
}
input:focus{
    outline: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #7d1daf;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.content-error-duvidas {
    width: 70%;
}
.content-error-duvida div{
}