@font-face {
    font-family: Circe;
    src: url('http://keepboxbr.com/CirceRounded-ExtraLight.otf') format("opentype");
    /*src: url('http://ec2-18-221-85-99.us-east-2.compute.amazonaws.com/keepbox/CirceRounded-ExtraLight.otf') format("opentype");*/

}
a {
    text-decoration: none;
}

.width-content{
    width: 100%;
}
.text-font-sans{
    font-family: Circe !important;;
}
.text-1-sm{
    font-size: 1.5em !important;;
    line-height: 27px !important;;
    font-family: Circe !important;;
}
.text-1{
    font-size: 1.9em !important;;
    line-height: 40px !important;;
    font-family: Circe !important;;

}
.text-2{
    font-size: 2.8em;
    line-height: 40px;
    font-family: Circe;

}
.text-title-sm{
    font-size: 2rem;
    line-height: 80px;
    font-family: Circe;

}
.text-title-md{
    font-size: 2.5rem;
    line-height: 60px;
}
.text-title{
    font-size: 3.13rem ;
    line-height: 60px ;
    font-family: Circe ;
}
.text-title-xl{
    font-size: 3.8rem ;
    line-height: 80px ;
}
.text-bold{
    font-weight: bold;
}
.padding-text{
    line-height: 40px;
}
.color-background-green{
    background-color: #a9d046;
}
.color-background-roxo{
    background-color: #7d1daf;
}
.color-background-white{
    background-color: white;
}
.color-background-grey{
    background-color: #9C9C9C;
}
.color-background-grey-light{
    background-color: #696969;
}
.color-text-green{
    color: #a9d046
}
.color-text-grey{
    color: #383838;
}
.color-text-grey-light{
    color: #696969;
}
.color-background-grey-light-2{
    background-color: #F8F8FF;
}
.color-text-roxo{
    color: #7d1daf;
}
.color-text-white{
    color: white;
}
.border-error{
    border-color: red;
}
.border-error-1{
    border: 1px solid red;
}
.pointer{
    cursor: pointer;
}
.btn-config{
    border: 0 solid white;
    border-radius: 50px;
    padding: 25px 42px;
    font-weight: bold;

}
.btn-config-2{
    border: 0 solid white;
    border-radius: 50px;
    padding: 16px 55px;
    font-weight: bold;
}
.btn-config{
    border: 0 solid white;
    border-radius: 50px;
    padding: 23px 40px;
    font-weight: bold;
}
.align-x-center{
    display: flex;
    justify-content: center;
}

.align-y-center{
    display: flex;
    align-items: center;
}
.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadow{
    box-shadow: 0px 14px 46px -10px rgba(0, 0, 0, 0.3);
}
.shadow-btn-roxo{
    box-shadow: 0px 14px 46px -10px rgba(125, 29, 175, 0.5);
}
.input-mini{
    border: 2px solid #7d1daf;
    border-radius: 30px;
    width: 160px;
    height: 45px;
    float: left;
    padding-left: 25px;
    margin-right: 20px;
    margin-top: 21px;
}
.input::placeholder{
    color: #7d1daf;
    opacity: 0.5;


}
.input-mini::placeholder{
    color: #7d1daf;
    opacity: 0.5;

}
.input{
    border: 2px solid #7d1daf;
    border-radius: 30px;
    width: 375px;
    height: 41px;
    padding-left: 25px;
    margin-right: 20px;
    margin-top: 21px;
    position:  relative;
    display:  -webkit-box;

}
.loader-roxo {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #7d1daf;
    border-bottom: 8px solid #7d1daf;
    width: 5px;
    height: 5px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: inline-block;
}
.loader-green {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #a9d046;
    border-bottom: 8px solid #a9d046;
    width: 5px;
    height: 5px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: inline-block;
}
.shadow-text{
    text-shadow: 1px 0px 1px #696969;

}
.width_padrao {
    zoom: 1.0;
    width: 1960px;

}
.justify{
    text-align: justify;
}
.center{
    text-align: center;
}
.padding-top-1{
    padding-top: 20px;
}
.padding-top-2{
    padding-top: 40px;
}
.padding-top-3{
    padding-top: 80px;
}
.padding-top-4{
    padding-top: 100px;
}
.padding-top-5{
    padding-top: 120px;
}
.margin-top-sm{
    margin-top: 12px;
}
.margin-top-1{
    margin-top: 20px;
}
.margin-top-2{
    margin-top: 40px;
}
.margin-top-3{
    margin-top: 80px;
}
.margin-top-4{
    margin-top: 100px;
}
.margin-top-5{
    margin-top: 120px;
}

.padding-left-1{
    padding-left: 20px;
}
.padding-left-2{
    padding-left: 40px;
}
.padding-left-3{
    padding-left: 80px;
}
.padding-left-4{
    padding-left: 100px;
}
.padding-left-5{
    padding-left: 120px;
}
.margin-left-1{
    margin-left: 20px;
}
.margin-left-2{
    margin-left: 40px;
}
.margin-left-3{
    margin-left: 80px;
}
.margin-left-4{
    margin-left: 100px;
}
.margin-left-5{
    margin-left: 120px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*@media screen and (max-width: 2000px) {*/
/*.width_padrao {*/
/*width: 1960px;*/

/*}*/
/*}*/
/*@media screen and (max-width: 1350px) {*/
/*.width_padrao {*/
/*width: 1240px;*/

/*}*/
/*}*/