.content-login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content-modal-login{

    background-color: white;
    width: 60%;
    height: 45%;
    max-height: 400px;
    max-width: 400px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;

}
.form-login-content-padding{
    padding: 10px;
    width: 90%;
}
.text-password{
    text-align: center;
    width: 100%;
    margin-top: 15px;
}
.content-btn-login{
    display: flex;
    justify-content: center;
}
.btn-color{
    background-color: #0a6aa1;
    border: 0;
    color: white;
}
.content-img-login{
    width: 100%;
    height: 120%;
    position: absolute;
    display: flex;
    justify-content: center;
}
.img-login{
    max-width: 300px;
    max-height: 300px;
    right: 0;
    margin-right: 20%;
}
