@media screen and (max-width: 600px) {
    .header-ul:not(:first-child) {display: none;}
    .menu-ul {display: none;}
    .icon-responsive {
        float: right;
        display: block !important;
        padding: 0;
    }
    .header-ul{
        padding-right: 0;
        list-style-type: none;

    }
    .content-align-menu{
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;height: 60px;}
    .topnav.responsive .icon-responsive {
        position: absolute !important;
        right: 0;
        top: 0;
    }
    .header-ul {
        float: none;
        text-align: left;
        list-style-type: none;

    }
    .responsive-line{
        display: none;
    }
}
.icon-responsive {
    display: none;
}