.content-right-cad{
    width: 50%;
    height: 100%;
    float: right;
}
.content-left-cad{
    width: 50%;
    height: 700px;
    float: left;
}
.btn-cad-config{
    padding: 15px 70px;
    margin-top: 50px;
    margin-left: 80px;
}
.content-logo-cad{
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 190px;
    height: 100px;
    margin-top: 8%;
    margin-left: 35%;
}