
.content-header-sistema{
    width: 100%;
    height: 100px;
    background-color:  white;
}
.content-logo-header{
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 118px;
    height: 80px;
    margin-top: 10px;
    margin-left: 60px;
}
.content-data-user{
    float: right;
    display: flex;
    margin-right: 130px;
    height: 100%;
    align-items: center;
}
.content-data-exit{
    margin-left: 50px;
}

.content-sistema-left{
    width: 75%;
    height: 1000px;
    float: left;
    background-color: #F8F8FF;
}
.content-data-endereco-right{
    width: 25%;
    height: 1000px;
    float: right;
    background-color: #F8F8FF;
}
.content-bem-vindo{
    padding: 80px 6%;
}
.content-text-produtos{
    padding: 0px 6%;
}
.content-table-produtos{
    padding-left: 6%;
    padding-top: 30px;
}
.content-header-table{
    padding: 5px 33px;
}
.content-header-table-2{
    padding: 5px 10px;
}
.ul-data{
    width: auto;
    margin-top:  50px;
    border:  1px solid;
    border-right:  0px;
    border-radius:  20px 0px 0px 20px;
    padding: 20px;
    background-color: white;
}
.li-data{
    display: block !important;
}
.pop-up-photo{
    width: 200px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    display: inline-flex;
    border: 1px solid #696969;
    z-index:  111111111111;
}
.img-content-prod{width: 90px;height: 90px;padding: 10px 5px;z-index:  1111111;}
.img-prod{
    width: 90px;
    height: 90px;
}
.tr-content-produtos{
    height: 50px;
    border-bottom: 1px solid #696969 !important;
}
.modal-jquery {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 50px; */ /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content-jquery {
    z-index: 111111;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-top: 50px;
}
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
.close2 {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
.checkbox-sistema{
    height: 100px;
    min-width: 20px;
    margin: 10px;
}
.content-envio-caixa{

    margin: 50px;
}
.content-step-by-step{display: inline-flex;margin-left: 50px;margin-bottom: 100px;margin-top: 30px;}
.content-table-list-prod{margin-left: 50px;}
.content-aduaneira{
    margin-left: 50px;margin-top: 80px;
}
.next-step-envio{
    float: right;
}
.back-step-envio{
    float: left;
}
.content-simulator-data-module4{
    width: 100%;
    height: auto;
}
.content-border-simulator-shadow{
    background-color:  white;
    width: 75%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 46px -10px rgba(0, 0, 0, 0.3);
}
.content-ul-simulator-data{
    list-style-type: none !important;
    -webkit-padding-start: 0px;
    height: auto;
    display:  flex;
    justify-content:  center;
    background-color: white;
}
.content-li-simulator-data{
    text-decoration: none !important;
    width: 26%;
    height: 250px;
    padding: 20px 0px;
    float: left;
    padding-left: 40px;
    border: 5px solid #F8F8FF;
    border-radius:  20px;
    margin: 0px 10px;
}
.plano-selected{
    border-color: #a9d046 !important;
}
.content-adicional-information{
    margin-left: 80px;
}
.textarea-information-envio-caixa{border: 2px solid #696969;border-radius:  20px;width:  70%;height: 200px;}
.content-check-envio{
    width: 400px;
}
.content-two-inputs{
    width: 100%;
    height: 115px;
    position:  relative;
    display: inline-flex;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 1.2rem;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}