
.content-img-top-serv{
    
    height:100%;
    position: absolute;
}

.img-top-serv{
    width: 100% !important;
    height: auto;
}
.content-text-banner-serv{
    /* padding: 8% 20%; */
    padding-top:  15%;
    height: auto;
    width: 70%;
    
}

.content-align-tutorial-module3-serv{
    
    justify-content: center;
    width: 100%;
}

.content-simulator-module4-serv{
    padding-top: 10%;
    width: 100%;
    
    text-align: center

    
}

.content-ul-data-serv{
    list-style-type: none !important;
    width: 55%;
    -webkit-padding-start: 0px;
    height: 20%;
    display:  flex;
    justify-content:  center;
    padding-top: 5%;
    
}

.content-li-info-data-serv{
    text-decoration: none !important;
    list-style-type: none !important;
    width: 60%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: sans-serif;
    display: block;
    margin:0 auto;
       
}
.content-li-center-vert{
    text-decoration: none !important;
    list-style-type: none !important;
    padding-top: 17%;
    padding-left: 29%;
    width: 60%;
    height: 100%;
    font-family: sans-serif;
    margin:0 auto;
    text-align: center

}

