
.content-img-top-serv{height: 700px;position: absolute}

.img-top-serv{
    /* width: 100%; */
    height: 700px;
    margin:  0;
    padding:  0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 101% 1100px;
    background-position-x: -4px;
    filter: brightness(0.5);
}

.content-space-serv{
    height: 700px;
    position: relative;
    z-index: 111;
}
.content-servi{
    width: 100%;
    /* margin-top: 80px; */
}
.content-servi.basico {
    background-color: #f9f9f9;
    padding-bottom: 60px;
}
.content-title-left-serv{
    float: left;
    width: 35%;
    margin-top: 150px;
}
.content-text-right-serv{
    float: right;
    width: 38%;
    height: auto;
    margin-top: 60px;
}
.text-title-serv{
    padding-left:  50px;
}
.ul-serv-text{
    list-style-type: none !important;
    margin-right: 50px;
    margin-left:  0;
}
.li-serv-text{
    text-decoration: none !important;
    display: block !important;
    padding: 20px 0px;
}
.text-title-serv{
    margin-top: 130px;
}
.content-ul-assist-data{
    width: 72%;
    display: inline-flex;
    margin:  0;
    padding: 0;
}
.content-li-serv{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    float: left;
    width: 100%;
    padding: 50px 80px;
    margin: 50px 25px;
}
.content-li-serv.left{
    /* margin-right: 35px; */
}
.content-li-serv.right{
    margin-left: 21px;
}
.content-itens-li-serv{
    width: 440px;
}
.padding-text-serv{
    padding: 0px 22px;
    width: 350px;
}

/* The Modal (background) */
.modal-jquery {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 165px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-jquery {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    padding-bottom: 40px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.content-text-tutorial-serv{
    width: auto;
    max-width: 80%;
    float: right;
    padding-left: 32px;
    text-align: justify;
}
.li-step-tutorial-serv{
    text-decoration: none !important;
    list-style-type: none !important;
    width: 670px;
    height: 250px;
    /* display: block !important; */
    color: #878889;
    /* text-align: center; */
    padding: 20px 0px;
    font-family: sans-serif;
    float: left;
    padding: 0px 30px;
    background-color: white;
}